@font-face {
    font-family: 'Scheherazade';
    font-weight: 300;
    font-style: normal;
    src: url('../../../www/assets/fonts/Scheherazade-Regular.ttf');
    src: url('../../../www/assets/fonts/Scheherazade-Bold.ttf');
}
@font-face {
    font-family: 'freestyle';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/FREESCPT.TTF');
    src: url('../assets/fonts/freestylescriptplain.otf');
}
@font-face {
    font-family: 'noto';
    font-weight: 50;
    font-style: normal;
    src: url('../assets/fonts/noto-sans-regular.ttf');
    src: url('../assets/fonts/noto-sans-bold.ttf');
}
@font-face {
    font-family: 'roboto';
    font-weight: 50;
    font-style: normal;
    src: url('../assets/fonts/roboto-light.ttf');
    src: url('../assets/fonts/roboto-bold.ttf');
}
@font-face {
    font-family:'islamicicon';
    src:url('../../assets/fonts/font_islamic_color.ttf')
}
.arabic-sign{
    font: 1em islamicicon;
}
.arabic-text {
    font: 1em Scheherazade;
}
.arabic-text-bigger {
    font: 2em Scheherazade;
}
.arabic-text-biggest {
    font: 3em Scheherazade;
}
.translator{
    font:0.8em noto;
}
.resep{
    font:0.6em noto;
}
.sanad{
    font:0.8em roboto;
}